body.deposit {
    h1 {
        padding-top: 20px;
    }
    .deposit-box {
        padding: 10px 20px 50px;
        width: 350px;
        margin: 0 auto;
        .max-amount {
            padding-top: 5px;
            font-style: italic;
        }
        .btn-container {
            padding-top: 15px;
        }
    }
}