body.deposit, body.withdraw {
    h1 {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .changeable-content {
        padding: 0 20px 100px 20px;
    }
    .deposit-box, .withdraw-box {
        padding: 10px 20px 50px;
        width: 350px;
        margin: 0 auto;
        .max-amount {
            padding-top: 5px;
            font-style: italic;
        }
        .btn-container {
            padding-top: 15px;
        }
    }
    .withdraw-history, .deposit-history {
        padding: 20px;
    }
}