body.christmas-calendar {
    .modal-backdrop.in {
        opacity: 0.9;
        background-color: #064d99;
    }
    footer {
        background-color: white;
        border: 0;
    }
    .long-text-link {
        /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
        -ms-word-break: break-all;
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    &.not-logged-in {
        background-image: url(/assets/images/christmas-calendar-campaign/holiday-calendar-not-logged-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    &.logged-in {
        background-image: url(/assets/images/christmas-calendar-campaign/logged-in-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .white-red-btn {
        background-color: $christmas_calendar_red;
        color: white;
        font-size: 16px;
        padding: 6px 15px;
        font-weight: bold;
        border: 1.5px solid $christmas_calendar_red;
        text-decoration: none;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            color: $christmas_calendar_red;
            background-color: white;
            text-decoration: none;
        }
    }
    .instagram-btn {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        color: white;
        font-size: 16px;
        padding: 6px 15px;
        font-weight: bold;
        text-decoration: none;
        @include rounded(4px);
    }
    .white-blue-btn {
        background-color: #0088CC;
        color: white;
        font-size: 16px;
        padding: 6px 15px;
        font-weight: bold;
        border: 1.5px solid #0088CC;
        text-decoration: none;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            color: #0088CC;
            background-color: white;
            text-decoration: none;
        }
    }
    .red-white-btn {
        background-color: white;
        color: $christmas_calendar_red;
        font-size: 16px;
        padding: 6px 15px;
        font-weight: bold;
        border: 1.5px solid $christmas_calendar_red;
        text-decoration: none;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            background-color: $christmas_calendar_red;
            color: white;
            text-decoration: none;
        }
    }
    .christmas-calendar-logged {
        .presents-list {
            background-image: url(/assets/images/christmas-calendar-campaign/snow-behind-cahracters-bottom.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center bottom;
            font-size: 0;
            .presents {
                padding-bottom: 15% !important;
                width: calc(100% - 600px);
                text-align: center;
                display: inline-block;
                vertical-align: bottom;
                img {
                    max-width: 700px;
                    width: 100%;
                }
            }
            .user, .dentist {
                width: 300px;
                display: inline-block;
                vertical-align: bottom;
            }
            @include breakpoint($lgll) {
                .presents {
                    padding-bottom: 15% !important;
                    width: calc(100% - 800px);
                    img {
                        max-width: 800px;
                    }
                }
                .user, .dentist {
                    width: 400px;
                }
            }
            @include breakpoint($md-only) {
                .presents {
                    width: calc(100% - 500px);
                }
                .user, .dentist {
                    width: 250px;
                }
            }
            @include breakpoint($sm-down) {
                background-image: none;
                .presents {
                    max-width: 100%;
                    width: 100%;
                    padding-bottom: 0 !important;
                    img {
                        max-width: 100%;
                        width: 100%;
                    }
                }
                .dentist, .user {
                    display: none;
                }
            }
        }
        .spin-the-wheel-timer {
            background-color: #4eb6eb;
            padding: 8px 15px;
            bottom: 0;
            @include rounded(15px 15px 0 0);
            @include horizontal-align(absolute);
            img {
                width: 40px;
            }
            .next-to-img {
                padding-left: 10px;
            }
        }
        .christmas-calendar-campaign-stats {
            background-image: url(/assets/images/christmas-calendar-campaign/red-background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            color: white;
            max-width: 1300px;
            position: relative;
            z-index: 100;
            .snow-img {
                position: absolute;
                right: 40px;
                width: 250px;
                top: -13px;
                @include breakpoint($sm-down) {
                    top: -5px;
                }
            }
            .row {
                .single-stat {
                    text-align: center;
                    border-right: 1.5px solid black;
                    padding-left: 5px;
                    padding-right: 5px;
                    figure {
                        margin-right: 10px;
                        width: 50px;
                    }
                    &:last-child {
                        border: 0;
                    }
                    @include breakpoint($sm-down) {
                        padding-bottom: 20px;
                        border: 0;
                        .stats-text {
                            display: inline-block;
                            padding-top: 5px;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
                @include breakpoint($xs) {
                    width: 300px;
                    margin: 0 auto;
                    .single-stat {
                        text-align: left;
                    }
                }
            }
        }
        .tasks-section {
            position: relative;
            .box-background {
                padding: 50px 50px 100px;
                background-color: #f1fafd;
                margin-top: -30px;
                position: relative;
                @include rounded(0 0 25px 25px);
                .snow-img {
                    position: absolute;
                    left: 40px;
                    width: 300px;
                    bottom: -35px;
                    @include breakpoint($xs) {
                        left: 20px;
                        width: 250px;
                        bottom: -30px;
                    }
                }
                @include breakpoint($xs) {
                    padding: 50px 15px 50px;
                }
            }
            .camping-custom-popups {
                top: 50px;
                width: 95%;
                max-width: 800px;
                z-index: 1000;
                position: absolute;
                left: calc(50% + 15px);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                .popup-wrapper {
                    background-color: rgba(255, 255, 255, 0.95);
                    padding: 15px 60px;
                    border: 1px solid black;
                    @include rounded(10px);
                    ul {
                        li {
                            list-style: disc outside none;
                        }
                    }
                    label {
                        cursor: pointer;
                    }
                    .facebook-buttons {
                        .single-facebook-btn {
                            padding: 20px;
                            a {
                                width: 100px;
                                background-color: #4080ff;
                                @include rounded(6px);
                                &:hover, &:active, &:visited, &:focus {
                                    color: white;
                                }
                            }
                        }
                    }
                }
                &.socials {
                    display: none;
                }
                &.rules {
                    .checkboxes {
                        font-size: 0;
                        .checkbox-wrapper {
                            width: 25px;
                            display: inline-block;
                            vertical-align: top;
                            input {
                                zoom: 1.5;
                            }
                        }
                        label {
                            width: calc(100% - 25px);
                            display: inline-block;
                            vertical-align: top;
                            font-weight: normal;
                        }
                    }
                }
            }
            .single-task {
                .present__content {
                    background-image: url(/assets/images/christmas-calendar-campaign/christams-box-bg.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center center;
                    text-align: center;
                    figure {
                        width: 80%;
                        max-height: 100%;
                        @include vertical-horizontal-align(absolute);
                        figcaption {
                            line-height: 16px;
                            @include breakpoint($sm-only) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            @include breakpoint($xs) {
                position: static;
                .camping-custom-popups {
                    width: 100%;
                    top: 0;
                    .popup-wrapper {
                        padding: 15px 30px;
                        border: 0;
                    }
                }
            }
        }
        .santa-section {
            img {
                margin-top: -80px;
                @include breakpoint($xs) {
                    margin-top: 0;
                }
            }
        }
    }
    .christmas-calendar-not-logged, .christmas-calendar-logged {
        .blurred-section {
            @include simple_transition(.3s);
            &.active {
                filter: blur(3.5px);
                -webkit-filter: blur(3.5px);
            }
        }
        .tasks-section {
            .position-relative {
                position: relative;
                .terms-link {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    @include breakpoint($sm-only) {
                        bottom: 50px;
                    }
                    @include breakpoint($xs) {
                        position: static;
                        text-align: center;
                        display: block;
                        margin: 50px 0;
                    }
                }
            }
            .wrapper {
                padding-top: 100%;
                position: relative;
                display: inline-block;
                width: 100%;
                -webkit-perspective: 1500px;
                perspective: 1500px;
                z-index: 666;
                .present__pane {
                    width: inherit;
                    height: inherit;
                }
                .present__pane {
                    width: 100%;
                    height: 100%;
                    padding-top: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    -webkit-transform-origin: 0;
                    transform-origin: 0;
                    text-align: center;
                    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    .custom-number {
                        font-size: 16px;
                        color: #cd532d;
                        font-family: 'Lato-Black';
                        z-index: 10;
                        @include vertical-horizontal-align(absolute);
                    }
                    .user-wheel {
                        width: 60%;
                        bottom: 10%;
                        position: absolute;
                        left: 20%;
                    }
                }
                .present__date {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 30px;
                    font-family: 'Lato-Black';
                    text-align: center;
                    color: #4eb6eb;
                    background: white;
                    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
                    @include rounded(50%);
                    @include vertical-horizontal-align(absolute);
                }
                &:hover {
                    z-index: 999;
                }
                &:hover .present__pane {
                    background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                    -webkit-transform: rotateY(-93deg);
                    transform: rotateY(-93deg);
                    -webkit-perspective-origin: 0;
                    perspective-origin: 0;  
                    transition: all 0.25s ease-in;
                }
                &:hover .present__date, .user-wheel {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .present__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    img {
                        max-width: 70%;
                    }
                    .custom-tooltip {
                        width: 100%;
                        left: 0;
                        top: 10px;
                        text-align: right;
                        position: absolute;
                        padding: 0 10px;
                    }
                    .check-icon {
                        display: block;
                        color: white;
                        background-color: #00f272;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 16px;
                        text-align: center;
                        @include rounded(50%);
                        &.red {
                            background-color: red;
                        }
                    }
                    @include breakpoint($md-only) {
                        font-size: 14px;
                    }
                    @include breakpoint($sm-only) {
                        img {
                            max-width: 60%;
                        }
                    }
                    @include breakpoint($xs) {
                        font-size: 13px;
                        img {
                            max-width: 55%;
                        }
                        .check-icon {
                            top: 5px;
                            left: 5px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                        }
                    }
                }
                &.opened {
                    z-index: 999;
                    .present__pane {
                        background: linear-gradient(135deg, #9ddafd 50%, #4eb6eb 50%);
                        -webkit-transform: rotateY(-93deg);
                        transform: rotateY(-93deg);
                        -webkit-perspective-origin: 0;
                        perspective-origin: 0;
                        transition: all 0.25s ease-in;
                    }
                    .present__date, .user-wheel {
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                }
            }
        }
    }
    .bootbox {
        &.christmas-calendar-task, &.response-popup {
            .bootbox-close-button {
                display: none;
            }
            .modal-dialog {
                width: 95%;
                max-width: 900px;
                @include breakpoint($xs) {
                    margin-bottom: 100px;
                }
                .modal-content {
                    background: transparent;
                    border: 0;
                    @include box-shadow(none);
                    .modal-body {
                        padding: 0;
                        .popup-header {
                            position: relative;
                            z-index: 100;
                            .lines-and-day {
                                position: relative;
                                margin-top: -15px;
                                .lines {
                                    overflow: hidden;
                                    @include rounded(20px 20px 0 0);
                                    .big-blue-line {
                                        background-color: #45b2f3;
                                        height: 35px;
                                    }
                                }
                                .day {
                                    font-size: 40px;
                                    text-align: center;
                                    color: white;
                                    font-family: 'Lato-Black';
                                    padding: 15px 30px;
                                    background-color: #45b2f3;
                                    @include rounded(15px);
                                    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.7));
                                    @include vertical-horizontal-align(absolute);
                                    .day-snow {
                                        width: 150px;
                                        top: -15px;
                                        @include horizontal-align(absolute);
                                    }
                                    @include breakpoint($xs) {
                                        font-size: 28px;
                                    }
                                }
                            }
                        }
                        .popup-body {
                            background-color: white;
                            padding-top: 15px;
                            padding-bottom: 50px;
                            position: relative;
                            @include rounded(0 0 20px 20px);
                            @include breakpoint($xs) {
                                padding-bottom: 0;
                            }
                            .custom-close {
                                position: absolute;
                                right: 20px;
                                font-size: 30px;
                                top: 10px;
                                color: #000;
                                font-weight: bold;
                            }
                            .bottom-snow {
                                position: absolute;
                                width: 95%;
                                margin-left: 2.5%;
                                top: calc(100% - 45px);
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                            .wheel-parent {
                                text-align: center;
                                padding: 30px 15px;
                                .wheel-wrapper {
                                    display: inline-block;
                                    position: relative;
                                    .wheel {
                                        width: 400px;
                                        height: 400px;
                                        background-color: red;
                                        overflow: hidden;
                                        position: relative;
                                        @include rounded(50%);
                                        @include simple_transition(.3s);
                                    }
                                    .wheel .reward {
                                        width: 50%;
                                        height: 50%;
                                        position: absolute;
                                    }
                                    .wheel .reward .reward-text {
                                        color: white;
                                        text-align: center;
                                        font-size: 16px;
                                        font-family: 'Lato-Bold';
                                        width: 75%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                    }
                                    .wheel .reward .reward-text img {
                                        width: 50px;
                                        margin-bottom: 5px;
                                    }
                                    .wheel .reward.reward-1 {
                                        top: 0;
                                        left: 0;
                                        background: #ff5858;
                                    }
                                    .wheel .reward.reward-1 .reward-text {
                                        transform: translate(-50%, -50%) rotate(-45deg);
                                    }
                                    .wheel .reward.reward-2 {
                                        top: 0;
                                        right: 0;
                                        background: #d72e2e;
                                    }
                                    .wheel .reward.reward-2 .reward-text {
                                        transform: translate(-50%, -50%) rotate(45deg);
                                    }
                                    .wheel .reward.reward-3 {
                                        bottom: 0;
                                        left: 0;
                                        background: #ff7878;
                                    }
                                    .wheel .reward.reward-3 .reward-text {
                                        transform: translate(-50%, -50%) rotate(225deg);
                                    }
                                    .wheel .reward.reward-4 {
                                        bottom: 0;
                                        right: 0;
                                        background: #ffbbbb;
                                    }
                                    .wheel .reward.reward-4 .reward-text {
                                        transform: translate(-50%, -50%) rotate(135deg);
                                    }
                                    .selector {
                                        background-color: #d72e2e;
                                        width: 100px;
                                        height: 100px;
                                        border: 5px solid white;
                                        position: absolute;
                                        left: calc(50% - 55px);
                                        top: calc(50% - 55px);
                                        @include rounded(50%);
                                        a {
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            line-height: 90px;
                                            color: white;
                                            font-size: 22px;
                                            font-family: 'Lato-Black';
                                        }
                                        &:after {
                                            content: '';
                                            width: 0;
                                            height: 0;
                                            border-left: 15px solid transparent;
                                            border-right: 15px solid transparent;
                                            border-bottom: 15px solid white;
                                            position: absolute;
                                            bottom: 100%;
                                            left: calc(50% - 12.5px);
                                        }
                                    }
                                }
                                @include breakpoint($xs) {
                                    .wheel-wrapper {
                                        .wheel {
                                            width: 250px;
                                            height: 250px;
                                        }
                                        .wheel .reward .reward-text {
                                            font-size: 12px;
                                            line-height: 12px;
                                        }
                                        .wheel .reward .reward-text img {
                                            width: 30px;
                                        }
                                        .selector {
                                            width: 80px;
                                            height: 80px;
                                            left: calc(50% - 40px);
                                            top: calc(50% - 40px);
                                            a {
                                                line-height: 70px;
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                            .submit-btn {
                                width: 180px;
                            }
                            .downloadable-image {
                                position: relative;
                                .overlay-on-hover {
                                    opacity: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background-color: rgba(0, 0, 0, 0.6);
                                    @include simple_transition(.3s);
                                    span {
                                        padding: 10px 15px;
                                        background-color: white;
                                        text-align: center;
                                        max-width: 90%;
                                        white-space: nowrap;
                                        @include rounded(4px);
                                        @include vertical-horizontal-align(absolute);
                                        @include breakpoint($xs) {
                                            white-space: normal;
                                            width: 100%;
                                        }
                                    }
                                }
                                &:hover {
                                    .overlay-on-hover {
                                        opacity: 1;
                                    }
                                }
                            }
                            .task-present-tile {
                                background-image: url(/assets/images/christmas-calendar-campaign/christams-box-bg.svg);
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                background-position: center center;
                                text-align: center;
                                position: relative;
                                font-size: 14px;
                                padding: 10px;
                                width: 120px;
                                height: 120px;
                                img {
                                    max-width: 70%;
                                    @include vertical-horizontal-align(absolute);
                                }
                                @include breakpoint($sm-only) {
                                    img {
                                        max-width: 60%;
                                    }
                                }
                                @include breakpoint($xs) {
                                    img {
                                        max-width: 55%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.christmas-calendar-task {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        .popup-body {
                            .newsletter-register {
                                padding-top: 50px;
                                padding-bottom: 30px;
                                #mc_embed_signup_scroll {
                                    max-width: 300px;
                                    margin: 0 auto;
                                    font-size: 0;
                                    input[type='email'] {
                                        width: calc(100% - 100px);
                                        display: inline-block;
                                        vertical-align: middle;
                                        height: 40px;
                                        font-size: 18px;
                                        border: 1px solid #aaaaaa;
                                        padding: 0 5px;
                                        @include rounded(4px 0 0 4px);
                                    }
                                    .btn-container {
                                        width: 100px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        input[type='submit'] {
                                            height: 40px;
                                            font-size: 18px;
                                            background-color: $christmas_calendar_red;
                                            display: block;
                                            width: 100%;
                                            border: 0;
                                            color: white;
                                            @include rounded(0 4px 4px 0);
                                        }
                                    }
                                }
                                .checkbox-row {
                                    padding-top: 10px;
                                    text-align: left;
                                    max-width: 300px;
                                    margin: 0 auto;
                                    input[type='checkbox'] {
                                        vertical-align: middle;
                                        margin: 0;
                                    }
                                    label {
                                        font-size: 16px;
                                        margin: 0;
                                        vertical-align: middle;
                                        padding-left: 10px;
                                        a {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            form {
                                width: 80%;
                                margin: 0 auto;
                                #upload-avatar {
                                    display: none;
                                }
                                textarea {
                                    width: 100%;
                                    border: 2px solid #dddddd;
                                    cursor: pointer;
                                    font-size: 16px;
                                    font-family: 'Lato-Regular';
                                    padding: 10px 15px;
                                    resize: none;
                                    @include rounded(4px);

                                }
                                .task-present {
                                    width: 120px;
                                    height: 120px;
                                    background-image: url(/assets/images/christmas-calendar-campaign/christams-box-bg.svg);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-position: center center;
                                    text-align: center;
                                    position: relative;
                                    figure {
                                        width: 80%;
                                        max-height: 100%;
                                        font-size: 14px;
                                        @include vertical-horizontal-align(absolute);
                                        img {
                                            max-width: 70%;
                                        }
                                    }
                                }
                                .task-name {
                                    width: calc(100% - 120px);
                                    @include breakpoint($xs) {
                                        width: 100%;
                                        padding-top: 15px;
                                    }
                                }
                                .task-body {
                                    .puzzle-task {
                                        font-size: 0;
                                        display: flex;
                                        .draggable-square {
                                            cursor: pointer;
                                        }
                                        .puzzle-container {
                                            display: inline-block;
                                            vertical-align: top;
                                            width: 500px;
                                            margin-left: calc(100% - 650px);
                                            order: 1;
                                        }
                                        .puzzle-scroll {
                                            width: 150px;
                                            height: 500px;
                                            overflow-y: scroll;
                                            display: inline-block;
                                            vertical-align: top;
                                            order: 0;
                                            #square-container {
                                                .draggable-square {
                                                    margin: 2.5px 0;
                                                }
                                            }
                                        }
                                        @include breakpoint($xs) {
                                            display: block;
                                            .puzzle-container {
                                                display: block;
                                                width: 260px;
                                                margin: 0 auto;
                                            }
                                            .puzzle-scroll {
                                                 display: block;
                                                 width: 100%;
                                             }
                                            .puzzle-scroll {
                                                margin-top: 30px;
                                                overflow-x: scroll;
                                                overflow-y: visible;
                                                height: auto;
                                                #square-container {
                                                    width: calc(16 * 70px);
                                                    .draggable-square {
                                                        display: inline-block !important;
                                                        vertical-align: middle;
                                                        margin: 2.5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .gender-radio-btns {
                                        label {
                                            font-weight: normal;
                                        }
                                    }
                                    .upload-image {
                                        .rotate {
                                            position: absolute;
                                            right: 50px;
                                            top: -10px;
                                            cursor: pointer;
                                            z-index: 3;
                                            width: 35px;
                                            @include breakpoint($xs){
                                                width: 25px;
                                                right: 41px;
                                            }
                                        }
                                        .photo {
                                            overflow: hidden;
                                            cursor: pointer;
                                            position: relative;
                                            width: calc(100% - 76px);
                                            margin-bottom: 0;
                                            .border {
                                                position: absolute;
                                                top: 0;
                                                width: 100%;
                                                height: 100%;
                                                img{
                                                    width: 100%;
                                                    max-width: none;
                                                }
                                            }
                                            .avatar {
                                                width: 100%;
                                                &.avatar-selected {
                                                    background-repeat: no-repeat;
                                                    background-position: calc(50% - 0px) calc(50% - 0px);
                                                    background-size: contain;
                                                }
                                                @include breakpoint($xs)    {
                                                    img {
                                                        width: 100%;
                                                    }
                                                }
                                                &.filter-sepia{
                                                    -filter: brightness(0.9) sepia(1);
                                                    -webkit-filter: brightness(0.9) sepia(1);
                                                }
                                                &.filter-grayscale{
                                                    -webkit-filter: grayscale(1);
                                                    filter: grayscale(1);
                                                    background-color: #d6d6d6;
                                                }
                                            }
                                            @include breakpoint($xs){
                                                width: calc(100% - 50px);
                                            }
                                        }
                                        .up-triangle {
                                            padding-bottom: 5px;
                                            text-align: center;
                                            cursor: pointer;
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            img {
                                                max-height: 100%;
                                                max-width: none;
                                                width: auto;
                                                height: 100%;
                                            }
                                            @include breakpoint($xs){
                                                height: 25px;
                                            }
                                        }
                                        .down-triangle {
                                            padding-top: 5px;
                                            position: relative;
                                            text-align: center;
                                            cursor: pointer;
                                            div {
                                                color: $dark_blue;
                                                font-size: 14px;
                                                &:first-child {
                                                    @include breakpoint($xs)    {
                                                        padding-top: 30px;
                                                    }
                                                }
                                            }
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            img {
                                                transform: rotate(180deg);
                                                max-height: 100%;
                                                max-width: none;
                                                width: auto;
                                                height: 100%;
                                            }
                                            @include breakpoint($xs){
                                                height: 25px;
                                            }
                                        }
                                        .left-triangle {
                                            padding-right: 5px;
                                            text-align: left;
                                            cursor: pointer;
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            @include breakpoint($xs){
                                                width: 25px;
                                            }
                                        }
                                        .right-triangle {
                                            padding-right: 5px;
                                            text-align: left;
                                            cursor: pointer;
                                            transform: rotate(180deg);
                                            &, img{
                                                @include user-select(none);
                                                @include user-drag(none);
                                            }
                                            @include breakpoint($xs){
                                                width: 25px;
                                            }
                                        }
                                        .zoom-scroll-container {
                                            padding-top: 30px;
                                            padding-left: 15px;
                                            padding-right: 15px;
                                            .wrapper {
                                                height: 10px;
                                                background-color: white;
                                                max-width: 300px;
                                                margin: 0 auto;
                                                position: relative;
                                                border: 1.5px solid #c5c5c5;
                                                span {
                                                    width: 25px;
                                                    height: 25px;
                                                    left: -10px;
                                                    cursor: pointer;
                                                    background-color: $christmas_calendar_red;
                                                    display: none;
                                                    position: absolute;
                                                    top: 50%;
                                                    -webkit-transform: translate(-50%, -50%);
                                                    -ms-transform: translate(-50%, -50%);
                                                    transform: translate(-50%, -50%);
                                                    @include rounded(50%);
                                                }
                                                .ui-slider-handle {
                                                    display: block;
                                                }
                                            }
                                        }
                                        .legend {
                                            color: #1f3685;
                                            font-size: 14px;
                                            padding-top: 35px;
                                            text-align: center;
                                        }
                                    }
                                }
                                @include breakpoint($xs) {
                                    width: 90%;
                                }
                            }
                            @include breakpoint($sm-only) {
                                &[data-task-id="16"], &[data-task-id="26"] {
                                    form {
                                        width: 95%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .christmas-calendar-not-logged {
        .tasks-section {
            margin-top: -10px;
            .box-background {
                padding: 50px 50px 100px;
                background-color: #f1fafd;
                @include rounded(25px);
            }
            .wrapper {
                .present__content {
                    img {
                        max-width: 100%;
                    }
                }
            }
            .dots {
                text-align: center;
                span {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: black;
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
        .santa-section {
            img {
                margin-top: -8%;
                margin-bottom: -8%;
                position: relative;
                @include breakpoint($xs) {
                    margin-top: 0;
                }
            }
        }
        .presents-list {
            position: relative;
            background-image: url(/assets/images/christmas-calendar-campaign/not-registered-grey-snow.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center bottom;
            @include breakpoint($sm-down) {
                background-image: none;
            }
            .presents {
                width: 100%;
                max-width: 600px;
                display: block;
                margin: 0 auto;
                @include breakpoint($lgll) {
                    max-width: 900px;
                }
                @include breakpoint($md-only) {
                    max-width: 500px;
                }
                @include breakpoint($sm-down) {
                    max-width: 100%;
                    width: 100%;
                    img {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
            .dentist {
                position: absolute;
                left: 0;
                bottom: -20px;
                width: 380px;
                z-index: 100;
                @include breakpoint($lgll) {
                    width: 500px;
                }
                @include breakpoint($md-only) {
                    width: 300px;
                }
            }
            .user {
                position: absolute;
                right: 0;
                bottom: -20px;
                width: 380px;
                z-index: 100;
                @include breakpoint($lgll) {
                    width: 500px;
                }
                @include breakpoint($md-only) {
                    width: 300px;
                }
            }
            &.no-dentist-and-user-bottom {
                .user, .dentist {
                    bottom: 0;
                }
            }
            @include breakpoint($sm-down) {
                .presents {
                    max-width: 100%;
                }
                .dentist, .user {
                    display: none;
                }
            }
        }
    }
    .set-width-limit {
        max-width: 1250px;
        margin: 0 auto;
        float: none;
    }
}