body.price {
    position: relative;
    height: 100vh;
    .top-section {
        position: absolute;;
        left: 0;
        width: 100%;
        bottom: 25%;
        .dentacoin-logo {
            img {
                max-width: 700px;
                margin: 0 auto;
            }
        }
        .shadowed-line {
            @include box-shadow(0px 0px 50px -15px rgba(0, 0, 0, 0.7));
        }
    }
    footer.price-footer {
        background-image: url(/assets/images/black-accepted-here.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border: 0;
    }
    @include breakpoint($lgll) {
        .top-section {
            bottom: 30%;
            .dentacoin-logo {
                img {
                    max-width: 900px;
                }
            }
        }
        footer.price-footer {
            background-size: 450px;
        }
    }
    @media screen and (max-width: 1500px) and (min-width: 1200px) {
        .top-section {
            .dentacoin-logo {
                img {
                    max-width: 500px;
                }
            }
            h1 {
                padding-bottom: 30px !important;
                font-size: 50px !important;
            }
        }
        .shadowed-line {
            font-size: 55px !important;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
    }
    @include breakpoint($md-down) {
        .top-section {
            position: static;
            .dentacoin-logo {
                img {
                    max-width: 500px;
                }
            }
        }
    }
    @include breakpoint($sm-down) {
        .delimeter { 
            display: block;
        }
        footer.price-footer {
            margin-top: 50px;
            position: static;
        }
    }
    @include breakpoint($xs) {
        .top-section {
            .dentacoin-logo {
                img {
                    max-width: 330px;
                }
            }
        }
    }
}