body.price {
    position: relative;
    height: 100vh;
    .top-section {
        position: absolute;;
        left: 0; 
        width: 100%;
        bottom: 25%;
        .dentacoin-logo {
            img {
                max-width: 700px;
                margin: 0 auto;
            }
        }
        .shadowed-line {
            @include box-shadow(0px 0px 50px -15px rgba(0, 0, 0, 0.7));
        }
    }
    footer {
        background-image: url(/assets/images/black-accepted-here.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border: 0;
    }
}