body.price {
    position: relative;
    height: 100vh;
    footer {
        background-image: url(/assets/images/black-accepted-here.png);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: bottom center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}